:root {
  --boxBackGroundColor: rgb(109, 183, 215);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: rgb(21, 51, 62);
  color: rgb(21, 37, 46);
}
nav {
  text-align: right;
}

h1 {
  background-color: var(--boxBackGroundColor);
  padding-left: 35px;
  padding-right: 15px;

}

li {
  display: inline-block;
  padding: 25px;

}
a {
  color:rgb(109, 183, 215);
  text-decoration: underline solid var(--boxBackGroundColor);
}

.hero-banner {
  display: flex;
  background-image: url(/images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
}
.hero-banner h2 {
  background-color: var(--boxBackGroundColor);
  position: relative;
  padding: 10px;
  margin-bottom: 10%;
  margin-right: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
