:root {
  --boxBackGroundColor: rgb(109, 183, 215);
  --borderline: 4px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: rgb(21, 51, 62);
  color: rgb(21, 37, 46);
}
nav {
  text-align: right;
}

h1 {
  background-color: var(--boxBackGroundColor);
  padding-left: 35px;
  padding-right: 15px;

}

li {
  display: inline-block;
  padding: 25px;

}
a {
  color:rgb(109, 183, 215);
  text-decoration: underline solid var(--boxBackGroundColor);
}

.hero-banner {
  display: flex;
  background-image: url(/images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
}
.hero-banner h2 {
  background-color: var(--boxBackGroundColor);
  position: relative;
  padding: 10px;
  margin-bottom: 10%;
  margin-right: 80px;
}
/* css selector to add article content in index.html*/

#griditem-article::before{
  display: block;
}

#about {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: 250px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "a b";
  color: rgb(41, 99, 96);
}

#gridItem-aboutMe {
  display: flex;
  justify-content: flex-end;
  grid-area: a;
  border-right: 2px solid rgb(45, 113, 138);
  font-size: xx-large;
  padding-right: 20px;
  align-items: flex-start;
}

#griditem-article {
  grid-area: b;
  padding-left: 40px;
  align-items: flex-start;
}

.left-text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#work {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: 800px;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
  "work-grid surf-grid surf-grid"
  "work-grid led-grid calculator-grid"
  "work-grid puzzle-grid run-grid"
  ;
}
#work-grid-item {
  padding-right: 10px;
  grid-area: work-grid;
  border-right: 2px solid rgb(45, 113, 138);
  justify-content: flex-end;
  align-items: flex-start;
  font-size: xx-large;
  color:rgb(10, 72, 72) ;
}
#surf-grid-item {
  margin: 10px 10px 10px 40px;
  background-image: url(/images/02-portfolio-1.jpg);
  grid-area: surf-grid;
  border: var(--borderline) solid var(--boxBackGroundColor);
}
#led-grid-item {
  margin: 10px 10px 10px 40px;
  background-image: url(/images/02-portfolio-2.jpg);
  grid-area: led-grid;
  border:var(--borderline)solid var(--boxBackGroundColor) ;
}
#Calculator-grid-item {
  margin: 10px;
  background-image:url(/images/02-portfolio-3.jpg);
  grid-area: calculator-grid;
  border: var(--borderline) solid var(--boxBackGroundColor);
}
#Puzzle-grid-item {
  margin: 10px 10px 10px 40px;
  background-image: url(/images/02-portfolio-4.jpg);
  grid-area: puzzle-grid;
  border: var(--borderline) solid var(--boxBackGroundColor);
}
#Run-grid-item{
  margin: 10px;
  background-image: url(/images/02-run-buddy.jpg);
  grid-area: run-grid;
  border: var(--borderline) solid var(--boxBackGroundColor);
}

.work-grid-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;

}
.project-title {
  background-color: var(--boxBackGroundColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  display: block;
}
